/* var(--openSans), "Roboto", "Noto Sans", Arial, Helvetica, sans-serif; */
/* var(--bubblegumSans), "comic sans ms", "architects daughter", luckiest guy, bangers, fredoka one, permanent marker;*/

:root {
  --lightBlue: #ECF8F9;
  --blue: #068DA9;
  --maroon: #7E1717;
  --bOrange: #E55807;
  --openSans: 'Open Sans', sans-serif; 
  --bubblegumSans: 'Bubblegum Sans', cursive;
}

* {
  color: #1b89bc;
}

header, .rating:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.rating {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  
}
.rating input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}
.rating input::before {
  content: '\f5d1';
  position: absolute;
  font-family: fontAwesome;
  font-size: 100px;
  color: #111;
  transition: 0.5s;
}
.rating input:hover ~ input::before,
.rating input:hover::before,
.rating input:checked ~ input::before,
.rating input:checked::before {
  color: var(--c);
}