/* var(--openSans), "Roboto", "Noto Sans", Arial, Helvetica, sans-serif; */
/* var(--bubblegumSans), "comic sans ms", "architects daughter", luckiest guy, bangers, fredoka one, permanent marker;*/

:root {
  --lightBlue: #ECF8F9;
  --blue: #068DA9;
  --maroon: #7E1717;
  --bOrange: #E55807;
  --openSans: 'Open Sans', sans-serif; 
  --bubblegumSans: 'Bubblegum Sans', cursive;
}

* {
  color: var(--blue);
}

header {
  border-bottom: 1px solid var(--lightBlue);
  background-color: rgba(236, 248, 249, 0.7);
}

.no-button {
  display: inline-block; /* or 'block' if you want it to take the full width */
  padding: 10px 20px;
  border: 1px solid #ccc;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
  color: var(--lightBlue);
  font-size: 100%;
}

.no-button:hover {
  background-color: var(--bOrange); /* background color on hover */
  color: var(--lightBlue); /* text color on hover */
}

.rating {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  border-bottom: 1px solid var(--lightBlue);
  background-color: rgba(236, 248, 249, 0.7);
}

.rating input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  cursor: grab;
  appearance: none;
  -webkit-appearance: none;
}
/* apples without a hover look "rotten" */
.rating input::before {
  content: '\f5d1';
  position: absolute;
  font-family: fontAwesome;
  font-size: 100px;
  color: #964B00;
  transition: 0.5s;
}
/* apples with a hover look healthy */
.rating input:hover ~ input::before,
.rating input:hover::before,
.rating input:checked ~ input::before,
.rating input:checked::before {
  color: var(--c);
}

/* text styling */
.text-primary {
  color: var(--blue);
}
.text-info {
  color: var(--lightBlue);
}
.text-danger {
  color: var(--maroon);
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
.text-link {
  color: var(--blue);
}

/* background styling */
/* for light blue */
.bg-primary {
  background-color: rgba(236, 248, 249, 0.7); 
}
/* for burnt orange */
.bg-info {
  background-color: rgba(229, 88, 7, 0.5);;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
/* for blue */
.bg-link {
  background-color: rgba(6, 141, 169, 0.3);
}

/* Display styling */
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}
.display-inline {
  display: inline;
}
.display-flex {
  display: flex;
}